body{
    padding:4% 2% 4% 4%;
    /* background-color:red; */
    font-family: Arial, Helvetica, sans-serif;
}
img[alt="logo"]{
    height:90px;width:200px;
    
}
a{
    text-decoration: none;

}

header img,a{
display:block;
}
header a{
    color:black;
    font-weight: bolder;
    font-size:32px;
    &:hover{
        color:orangered;
    }

}

header span{
    display:block;
    color:rgb(88, 87, 87);
    margin-top:-15px;
    font-family:'Times New Roman', Times, serif
}

img[alt="coding ninjas"]
{
    width:100%;
    margin-top:30px;
    margin-bottom:120px;
}

main{
    /* border:1px solid black; */
}
section, aside{
    display:inline-block;

}
section{
    width:70%;
    /* border:1px solid rgb(212, 24, 24); */
    box-sizing:border-box;

}

aside{
    width:26.5%;
    /* border:1px solid rgb(13, 241, 116); */
    vertical-align: top;
    margin-left:2%;
}

section h1{
    font-size:60px;
    color:rgb(3, 18, 48);
    margin-bottom: 70px;
}

#author, article{
    display:inline-block;
    /* border:2px solid red; */
}

#author{
    width:20%;
    vertical-align: top;
    margin-right:7%;
}

article{
    width:71%;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

#author img{
    border-radius:100%;
    width:65px;
}

#author p{
    color:darkslategrey;
    font-size: 17px;;
}

article img[alt="signal"]{
    width:22px;
}

article>b{
    font-size:18px;
}

article img[alt="five"]{
    width:100%;
}

aside h2{
    text-transform: uppercase;
    font-size:20px;
    letter-spacing: 1px;
    line-height:28px;
    margin-bottom:32px;

    /* font-variant: small-caps; */
}
aside div{
    border-top:6px solid black;
    padding-top:6px;
    padding-bottom:60px;
}
input,label,button{
    display:block;
    font-family:'Times New Roman', Times, serif;
}

label{
    font-size:19px;
color:darkslategray;

}

input{
    width:89%;
    margin-top:6px;
    height:32px;
    border:1px solid rgb(156, 158, 158);
    margin-bottom:15px;
    border-radius: 3px;
    background-color: rgb(245, 245, 245);
}

button{
    background-color: black;
    color:white;
    border:1px solid black;
    margin-top:23px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    letter-spacing:1.5px;
    padding:7px;
    width:140px;
    border-radius:6px;
    font-size: large;
}

input[placeholder="Search..."]{
    margin-top:23px;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder{
font-size:18px;
padding-left:12px;
}

button img[alt="search"]{
    width:16px;
    margin:1px 10px;
}
button#search{
width:auto;
}

.post-comments{
font-family:'Times New Roman', Times, serif;
font-size:20px;
line-height: 27px;
& li{
    margin-bottom:15px;
}
& a{
    color:orangered;
    &:hover{
        color: black;
    }
}
}