body{
    padding:4% 2% 4% 4%;
    /* background-color:red; */
    font-family: Arial, Helvetica, sans-serif;
}
img[alt="logo"]{
    height:90px;width:200px;
    
}
a{
    text-decoration: none;

}
header img,a{
display:block;
}
header a{
    color:black;
    font-weight: bolder;
    font-size:32px;


}

header span{
    display:block;
    color:rgb(88, 87, 87);
    margin-top:-15px;
    font-family:'Times New Roman', Times, serif
}

img[alt="coding ninjas"]
{
    width:100%;
    margin-top:30px;
}
