*{
    /* box-sizing:border-box; */
}
.container{
    background-color:aquamarine;
    border:8px solid black;
    display:flex;
    width:900px;
    height: 900px;
    /* flex-direction:column-reverse ; */
    flex-direction: row ;
    flex-wrap:wrap;
    /* box-sizing:border-box; */

}
div{
    height:200px;
    /* width:200px;  */
    border:5px solid red;
    width:300px;
    /* box-sizing:border-box; */

}
.container div{
    box-sizing:border-box;
    background-color: blue;
}
