body{
    background-color:pink;
}

.container{
    height:800px;
    width:400px;
    background-color: aquamarine;
    border:3px solid black;
    display:flex;
    /* flex-direction:row-reverse; */
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.container div{
    box-sizing: border-box;
}
div{
    height:50px;
    width:50px;
    border:3px solid blue;
    margin:10px;
}

#div1{
    background-color: blueviolet;
}
#div2{
    background-color: rgb(205, 44, 23);
}
#div3{
    background-color: rgb(22, 213, 83);
}
#div4{
    background-color: rgb(255, 3, 226);
}
#div5{
    background-color: rgb(227, 252, 0);
}
/* #div1{
    background-color: blueviolet;
} */

.box{
    background-color:yellow;
    height:600px;
    width:700px;
    display:flex;
    flex-flow: row wrap-reverse;
}
 
#box-small1{
    background-color:red;
}
#box-small2{
    background-color:rgb(0, 187, 255);
}
#box-small3{
    background-color:rgb(255, 0, 212);
}

