img{
    display:inline-block;
   
    
}
body{
    /* background-color: aqua; */
    /* text-align:center; */
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:0px;
    padding-top:0px;
    margin-bottom: 0px;
    /* padding-bottom: 0px;; */

}


main{
            background-color: rgb(19, 64, 5);

    margin-left:110px;
    margin-right:110px;

}
h1,h3{
    font-family:'Dancing Script';
    text-align:center;
}

h1{
    font-size:38px;
    color:yellow;
}

h3{
    /* text-align:center; */
    margin-left: 10%;
    margin-right: 10%;
    /* font-weight: bolder; */
    margin-bottom: 40px;
    font-size: 25px;
    color:yellow;
}
 img[alt="white-circle"]{
        width:120px;
        margin-left:4%;
        margin-top:30px;
    }

    img[alt="degree hat"]{
        display:block;
        width:170px;
        /* margin-left:-3%; */
        margin-left:8%;
        margin-top: -90px;
    }

/* div{
    width:80%;
} */
    section{
    margin-left: 13%;
    margin-right: 10%;


    }
input[type=text]{
    color: brown;
    font-size: large;
    font-weight: bolder;
}


label,input{
    display:inline-block;

}

label{
    margin-top:30px;
    font-size: 17px;
    /* margin-bottom: 10px; */
    font-weight: 600;
    text-align:left;
}

input{
    background: none;
    border-width:0px;
    border-bottom: 2px solid white;
    margin-top:10px;
        width:93.5%;
    margin-bottom: 5px;
}

.small{
    font-size:14px;
    font-weight: 500;
    margin-top:0px;


}


#first_name, #last_name{
    display:inline-block;
}

#student_name{
    /* border: 2px solid yellow; */
}

#first_name{
    padding-right:15px;
    width:45%;
    /* border: 2px solid rgb(255, 0, 221); */

}

#last_name{
    padding-right:15px;

    width:46%;
    /* border: 2px solid rgb(11, 41, 212); */

}


#student_id{
    width:93.5%;
}

input[type="date"]{
    width:45%;
}

textarea{
    background: none;
    border-width:0px;
    border-bottom: 2px solid white;
}

input[type="file"]{
    border:2px dashed white;

}


::file-selector-button{
    background: none;
    color:white;
    border-width:0px;
}
input[name="annual-income"]{
    width:89%;
}

button{
    width:18%;
    height:50px;
    font-size:17px;
    border-radius:30px;
    border:1px solid black;
    background-color: rgb(232, 244, 126);
    margin-top:40px;
    display: inline-block;
    margin-left:-30px;
    margin-bottom: 30px;;
}