body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* margin:0px; */
    /* padding:0px; */
    /* margin-top:0px; */
    padding-top:0px;
    background-color:black;
    padding-left: 8.5%;
    padding-right: 8.5%;
    margin-bottom:0px;
}

p{
  /* margin-bottom:40px; */

    font-size: 39px;
    font-weight: 500;
    text-align: center;
    color:white;
}

header{
    background-color: rgb(65, 165, 165);
    height:120px;
  margin-top: -30px;;
    padding-top: 1px;
    padding-bottom: 1px;
    /* margin-left:9%;
    margin-right:9%; */
}

main{
     /* margin-left:9%;
    margin-right:9%; */
    padding-top: 8%;
    
    padding-left:12.5%;
    padding-right: 7.5%;
    background-color:white;

}

label,input{
    display:inline-block;
}

label{
    font-size: 18px;
    font-weight: 600;
    margin-top:40px;
}
#first-name, #last-name{
    display: inline-block;
}

#first-name{
    width:47%;
    padding-right:2%;
}

#last-name{
    width:45%;
}

#full-name input{
    width:100%;
    
}

input,textarea{
    margin-top: 8px;
    margin-bottom: 5px;
    font-size:15px;
    height:37px;
    border-radius:4px;
    border:1px solid rgb(0, 153, 255);
    background-color:rgb(230, 249, 252);
    width:94.7%;
}

.small{
    margin-top:0px;

    font-weight: 100;
    font-size:13px;
    /* padding-left:1%; */
}



.box label, .box input{
    font-weight:initial;
    width:initial;
    height:initial;
    border-width:initial;
    border:initial;
    margin:initial;
    padding:initial;

}

.box{
 font-size:15px;
    height:42px;
    border-radius:4px;
    border:1.5px solid rgb(3, 94, 154);
    background-color:rgb(237, 248, 250);
    width:94.7%;
 margin-top: 8px;
    margin-bottom: 5px;  
    box-sizing: border-box;
    padding: 10px 16px;;
}
/* 
input[type="radio"]{
    height:18px;
    width:18px;
    accent-color:rgb(3, 94, 154);
} */


input[type="radio"]{
    height:17px;
    width:18px;
    accent-color:darkmagenta;
}
.box label{
    color:rgb(3, 94, 154);
}

button{
    margin-top:50px;
    margin-bottom:50px;

    border:1px solid rgb(11, 142, 178);
     background-color: rgb(29, 131, 131);
    color:white;
    width:17%;
    height:50px;
    border-radius:10px;
    font-size:20px;
    font-weight: 600;
    }

    textarea{
        font-family: impact;
        ;
    }