img{
    display:inline-block;
   
    
}
body{
    /* background-color: aqua; */
    /* text-align:center; */
    color:white;
    font-family: Arial, Helvetica, sans-serif;

}


main{
    margin-left:140px;
    margin-right:140px;

}
h1,h3{
    font-family:'Dancing Script';
    text-align:center;
}

h1{
    font-size:38px;
    color:yellow;
}

h3{
    margin-bottom: 40px;
    font-size: 25px;
    color:yellow;
}
 img[alt="white-circle"]{
        width:120px;
        margin-left:4%;
        margin-top:30px;
    }

    img[alt="degree hat"]{
        display:block;
        width:170px;
        /* margin-left:-3%; */
        margin-left:8%;
        margin-top: -90px;
    }
input[type=text]{
    color: brown;
    font-size: large;
    font-weight: bolder;
}


label,input{
    display:inline-block;

}

label{
    margin-bottom: 10px;
    font-weight: 500;
    text-align:left;
}

input{
    background: none;
    border-width:0px;
    border-bottom: 2px solid white;
    margin-bottom: 3px;
}

.small{
    font-size:12px;
}


#first_name, #last_name{
    display:inline-block;
}

#student_name{
    border: 2px solid yellow;
}

#first_name{
    width:40%;
    border: 2px solid rgb(255, 0, 221);

}

#last_name{
    width:55%;
    border: 2px solid rgb(11, 41, 212);

}